@page
@model Bakery.Pages.AboutModel
@{
    ViewData["Title"] = "About Us";
}
<section id="main">
    <h1> About test!</h1>
    <p>
        Here are some about tests with Razor Pages!
    </p>
</section>
